GCP_PROJECT_ID=your-gcp-project-id
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_NAME=
GOOGLE_CLIENT_ID_NAME=
GOOGLE_CLIENT_SECRET_NAME=
GOOGLE_REDIRECT_URI=
SESSION_SECRET_KEY=generate-a-random-secret-key-for-production
ENCRYPTION_KEY=generate-using-python-cryptography-fernet
